*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

html, body, #root, .main {
    height: 100%;
    width: 100%;
}

.main {
    padding: 60px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > .dogs-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 20px;

        > *:not(:last-child) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
        }
    }

    > .favourite-dogs-container {
        padding: 20px;
    }
}
